/*fontes padrões limpei*/
@font-face {
    font-family: "padrao";
    src: url(/fonts/Kanit-Regular.ttf) format("truetype") ;
}
/*Root aonde modula tudo*/
:root{
    font-family: padrao;
}
/*CSS mãe*/
body{
    font-family: padrao;
    background-image: url("imagens/fundo.webp");
    background-size: cover;
    background-repeat: repeat;
    height: 100vw;
}

/*css padrao cabeçalho e rodapé*/
.cabeçalho{
    width: 100%;
    background: #2ff17a67;
    height: 100px;
    text-align: center;
    margin:0 auto;
}
.logo{
    position: absolute;
    display:inline;
    width: 10em;
    left: 5vw;
    top:0;
    margin: 15px 0;
}
.logo:hover{
    transform: scale(1.2);
}
.caixa-head{
    padding:20px;
    height: 100px;
    width: 100%;
    margin:0 auto;
    box-sizing: border-box;
}
.caixa-head h1{
    width: 20vw;
}
.pesquisa{
    display: block;
    position: absolute;
    white-space: nowrap;
    text-align: right;
    width: 130px;
    margin: -10px 10vw 0 80vw;
}
.pesquisa input{
    width: 50px;
    border-radius: 10px;
    transition: 500ms all;
}
.pesquisa input:focus{
    width: 100px;
    border-radius: 5px;
}
.barra-navegacao{
    position: relative;
    display:inline-block;
    margin:1em auto;
    text-align: center;
    width: 40vw;
    top: 15px;

}
nav a{
    margin:0 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: UPPERCASE;
}
/* rodape */
.rodape{
    width: 100%;
    height: 95px;
    background:#2ff17a67;
    padding:15px;
}
.redes-sociais{
    width: 200px;
    text-align: center;
    margin:0 auto;
}
.redes-sociais li{
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    margin:2px auto;
}
.redes-sociais img{
    width: 40px;
    margin:0 0.2em;
}
footer h3{
    text-align: center;
    margin: 10px;
}


/*fim do css padrao cabeçalho e rodapé*/



/*Corpo da página home*/
.titulo{
    text-align: center;
    margin-top: 30px;
    color: rgb(112, 235, 112);
    font-size: 2.5em;
    font-family: fantasy;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.767);
}
.titulo:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
     
}
main{
    height: auto;   
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.corposlide{
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgb(113, 113, 236), rgb(149, 235, 149));
}
.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow:hidden ;
    margin-left: 400px;
    
}
.foto1{
   margin-left: 200px;
   width: 400px;
   height: 200px;
   border-radius: 10px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.562);

}
.foto2{
    margin-left: 40px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.562);
}
.apresentacao{
    max-width: 600px;
    min-width: 300px;
    margin-right: 0px;
    margin-left: 5px;
    background-color: white;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.562);
}
.apresentacao2{
    max-width: 600px;
    min-width: 300px;
    margin-right: 0px;
    margin-left: 170px;
    background-color: white;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.562);
}
main p, h2{
    padding: 10px;
}
